.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.formContainer {
  padding: 2em;
  margin: 10px 10px;
  background-color: rgb(90, 177, 187);
  border-radius: 15px;
  width: fit-content;
}

.userName input {
  border: 0px;
  border-radius: 10px 10px 10px 10px;
  height: 2em;
}

.passWord input {
  border: 0px;
  border-radius: 10px 10px 10px 10px;
  height: 2em;
}
.buttonSubmit {
  display: flex;
  justify-content: center;
}
.buttonSubmit button {
  border: 0px;
  border-radius: 15px 15px 15px 15px;
  background-color: rgb(7, 2, 44);
  color: rgb(90, 177, 187);
  font-size: 16px;
  height: 3em;
  width: 5em;
}
.error {
  color: red;
}
