.navBarLinks h3 {
  font-size: 18px;
  font-family: "Rockwell";
  color: rgb(5, 255, 17);
}
.navBarLinks {
  background-color: rgb(7, 2, 44);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 15px 15px 15px 15px;
  height: fit-content;
  margin: 10px;
}
