.searchBarContainer {
  display: flex;
  padding: 1em;
  flex-direction: row;
  justify-content: end;
  background-color: rgb(5, 255, 17);
  border-radius: 15px;
  width: 100%;
}
.searchBarContainer input {
  border: 0px;
  border-radius: 15px 0px 0px 15px;
  height: 3em;
}
.searchBarContainer button {
  border: 0px;
  border-radius: 0px 15px 15px 0px;
  background-color: rgb(7, 2, 44);
  color: rgb(5, 255, 17);
  font-size: 14px;
  height: 3em;
}
